.cell {
  width: 15px;
  height: 15px;
  text-align: center;
  border: solid 1px black;
  padding: 1px;
}

.square {
  border: solid 1px black;
}

.board {
  border: solid 1px black;

  width: 177px;
}

.input {
  width: 15px;
  height: 15px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input { 
  outline: none; 
  text-align: center;
  box-shadow: none !important; 
}